:root {
  --color-primary: #333f42;
  --color-secondary: #8c78c1;
  --font-stack: 'Poppins', 'Segoe UI', 'Helvetica Neue', sans-serif;

  font-family: var(--font-stack);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-stack);
  background-color: #ffffff;
  color: #333;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1, h2 {
  color: var(--color-primary);
}

h3, h4, h5, h6 {
  color: var(--color-secondary);
}

button {
  border-radius: 999px;
  border: none;
  padding: 0.75em 1.5em;
  background-color: var(--color-secondary);
  color: white;
  font-family: var(--font-stack);
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--color-primary);
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Customização do ícone hambúrguer */
.toggler-icon {
  font-size: 1.5rem;               /* tamanho do ícone */
  color: var(--color-secondary);     /* cor padrão */
  transition: color 0.3s ease;
}

/* Ao passar o mouse no botão, pinta do color-secondary */
.navbar-toggler:hover .toggler-icon {
  color: var(--color-secondary);
}

html {
  scroll-behavior: smooth;
}
/* Animações personalizadas para Tailwind */
.animation-delay-0 {
  animation-delay: 0s;
}
.animation-delay-200 {
  animation-delay: 0.2s;
}
.animation-delay-400 {
  animation-delay: 0.4s;
}
.animation-delay-600 {
  animation-delay: 0.6s;
}